.continer{
  
  width: 600px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  
}
.no-click{
  pointer-events: none;
}
.face img{
  
  width: 130px;
  
}
.game-block{
  margin: 00px;
  padding: 0px;
  
  height: 20px;
}
.game-block{
  height: 150px;
  transition: transform .5s;
   transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 1 0 150px; 
}
.front {
  background-color: #333;
  line-height: 200px;
  }
  .front:before {
    content: '!';
    color: #FFF;
    font-size: 140px;
    font-weight: bold;
  }
 .back {
    background-color: #607D8B;
    transform: rotateY(180deg);
  }
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2196F3;
    margin-top: 0px;
  }
   .game-block.is-flipped,
  .game-block.has-match {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}
.butt{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #2196f38c;
  z-index: 2;
}
span{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120px;
  font-size: 50px;
  background-color: royalblue;
  padding: 15px 25px;
  border: 5px;
  text-align: center;
  color: white;
  cursor: pointer;



  
}